[Desktop Entry]
Type=Application
Group=Amusements/Games
Icon=/usr/share/harbour-quake2/harbour-quake2.png
Exec=/usr/bin/harbour-quake2
Name=Quake 2
Name[en]=Quake 2