[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.sashikknox.quake2
Exec=ru.sashikknox.quake2
Name=Quake 2
Name[en]=Quake 2

[X-Application]
Permissions=UserDirs;RemovableMedia;Internet;Audio
OrganizationName=ru.sashikknox
ApplicationName=quake2

[X-Aurora-Application]
IconMode=Crop
